@charset "UTF-8";

@import "./theme.scss";

/**
 * ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
 * ·······  Form
 * ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
*/
%form-inputs {
  padding         : 0 7px;
  height          : 35px;
  border          : 1px solid $color_white;
  border-radius   : 2px;
  background-color: $color_white;
  box-shadow      : inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color           : $color_black;
  letter-spacing  : normal;
  font-size       : 13px;
}

.form-holder {
  padding    : 20px 10px;
  font-family: Arial, Helvetica, sans-serif;

  @include m768 {
    padding: 10px 10px 0;
  }

  .container-fluid {
    padding: 0;

    .form-element-layout {
      margin-bottom: 6px;
      padding      : 0;
    }

    .elq-form .elq-field-style {
      padding: 0;
    }

    .submit-button-style {
      display: block;
      margin : 0 auto;
    }

    .single-checkbox-row {
      margin    : 10px 0 5px;
      text-align: left;
    }

    label {
      margin-bottom: 0;
      color        : #6D6E71;
      text-align   : left;
      font-weight  : 400;
      font-weight  : 100;
      font-size    : 12px;
    }

    input.form-control {
      @extend %form-inputs;
    }

    textarea.form-control {
      @extend %form-inputs;
    }

    input,
    input[type=date],
    input[type=datetime-local],
    input[type=datetime],
    input[type=email],
    input[type=month],
    input[type=number],
    input[type=password],
    input[type=range],
    input[type=search],
    input[type=tel],
    input[type=text],
    input[type=time],
    input[type=url],
    input[type=week],
    select {
      box-sizing: border-box;

      @extend %form-inputs;

      &:focus {
        outline     : 0;
        border-color: $color_dark_blue;
        box-shadow  : 0 0 3px -1px $color_dark_blue;
      }
    }
    /**
     * ::::::: Select
    */
    .select-wrap {
      position: relative;

      &:after {
        position        : absolute;
        top             : 15px;
        right           : 15px;
        width           : 0;
        height          : 0;
        border-top      : 8px solid $color_black;
        border-right    : 6px solid transparent;
        border-left     : 6px solid transparent;
        background-color: transparent;
        content         : "";
        pointer-events  : none;
      }

      select {
        @extend %form-inputs;
        -webkit-appearance: none;
        -webkit-appearance: none;
        -moz-appearance   : none;
        appearance        : none;
      }
    }
    /**
      * ::::::: Placeholder
     */
    ::-webkit-input-placeholder {
      color: $color_black;
    }

    :-ms-input-placeholder {
      color: $color_black;
    }

    ::-ms-input-placeholder {
      color: $color_black;
    }

    ::placeholder {
      color: $color_black;
    }
    /**
     * ::::::: Focus Glow
     */
    .form-control:focus {
      outline     : 0;
      border-color: $color_dark_blue;
      box-shadow  : 0 0 1px 1px $color_dark_blue;
    }
    /**
     * ::::::: Submit
     */
    .submit-button-style {
      padding      : 16px 60px;
      height       : auto;
      border       : none;
      border-radius: 50px;
      background   : $color_blue;
      color        : $color_white;
      font-size    : 16px;
      transition   : all 0.3s ease;

      &:hover {
        background: $color_black;
      }
    }
  }
  /* END .container-fluid */
}
/**
 * ::::::: Checkbox
*/
.single-checkbox-row {
  margin: 20px 0 40px;

  & input[type="checkbox"] {
    position: absolute;
    z-index : 10;
    z-index : 1;
    color   : $color_black;
    opacity : 0;
    cursor  : pointer;
  }

  & label {
    position      : relative;
    display       : inline-block;
    padding-left  : 40px;
    text-transform: none;
    font-weight   : normal;
    font-size     : 14px;

    a {
      position       : relative;
      z-index        : 5;
      color          : $color_dark_blue;
      text-decoration: none;
      transition     : all 0.3s ease;

      &:hover {
        color: $color_black;
      }
    }

    &::after,
    &::before {
      position: absolute;
      display : inline-block;
      content : "";
    }
    /** ::::::: Border and background */
    &::before {
      top             : 0;
      left            : 0;
      width           : 22px;
      height          : 22px;
      border          : 1px solid $color_black;
      background-color: $color_white;
    }
    /** ::::::: Check Icon */
    &::after {
      top          : 6px;
      left         : 5px;
      width        : 12px;
      height       : 7px;
      border-color : $color_black;
      border-bottom: 2px solid;
      border-left  : 2px solid;
      color        : $color_black;
      transform    : rotate(-45deg);
    }
  }

  & input[type="checkbox"] + label::after {
    content: none;
  }

  & input[type="checkbox"]:checked + label::after {
    content: "";
  }

  & input[type="checkbox"]:focus + label::before {
    border: 1px solid $color_black;
  }

  & input[type="checkbox"]:checked + label::before {
    outline: $color_black auto 1px;
  }
}
/**
 * ::::::: Rabio
 */
.radio {
  label {
    position: relative;
    padding : 0 0 0 40px;
    cursor  : pointer;

    input {
      position        : absolute;
      top             : 2px;
      display         : inline-block;
      overflow        : hidden;
      margin          : 0 0 0 -40px;
      width           : 22px;
      height          : 22px;
      outline         : none;
      border          : 0;
      border          : 1px solid $color_dark_blue;
      border-radius   : 50px;
      background-color: $color_white;
      color           : $color_white;
      cursor          : pointer;
      transition      : all 0.3s ease;

      appearance      : none;

      &::after {
        background: $color_white;
        content   : "";
        transition: all 0.5s ease;
      }

      &:hover::after {
        position     : absolute;
        top          : 4px;
        left         : 4px;
        display      : block;
        width        : 12px;
        height       : 12px;
        border-radius: 100px;
        background   : $color_dark_blue;
        content      : "";
      }

      &:checked::before {
        position     : absolute;
        top          : 4px;
        left         : 4px;
        display      : block;
        width        : 12px;
        height       : 12px;
        border-radius: 100px;
        background   : $color_dark_blue;
        content      : "";
      }

      &:hover {
        background-color: $color_white;
      }

      &:checked {
        background-color: $color_white;
      }
    }
  }
}
/**
 * ::::::: Form Validation
*/
.field-control-wrapper {
  position: relative;
}

span.msg-is-invalid {
  position        : absolute;
  top             : 38px;
  left            : 1px;
  z-index         : 100;
  padding         : 2px 4px;
  width           : 100%;
  border-radius   : 3px;
  background-color: #ff0000;
  color           : $color_white;
  text-align      : right;
  text-align      : left;
  font-size       : 12px;

  &::before {
    position     : absolute;
    top          : -4px;
    left         : 10px;
    width        : 0;
    height       : 0;
    border-right : 5px solid transparent;
    border-bottom: 5px solid #ff0000;
    border-left  : 5px solid transparent;
    content      : "";
  }
}

.LV_valid {
  display: none;
}
