/**
 * ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
 * ·······  Motorola video modal
 * ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
 */
.ms-media-modal {
  position: fixed;
  top: 110%;
  right: 0;
  left: 0;
  z-index: 9999;
  visibility: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 0;
  height: 100%;
  background: #fff;
  background: url("https://www.motorolasolutions.com/etc/designs/msi/assets/images/components/content-components/media_modal/bg_media_modal.png");
  color: #fff;
  -webkit-transition: top 0.3s cubic-bezier(0.3, 0.8, 0.35, 0.9);
  transition: top 0.3s cubic-bezier(0.3, 0.8, 0.35, 0.9);
}

.ms-media-modal.media-modal-show {
  visibility: visible;
}

.ms-media-modal.media-modal-open .ms-media-modal-cont {
  height: 90%;
}

.ms-media-modal object {
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
}

.ms-media-modal .bcStatic {
  display: none;
}

.ms-media-modal .ms-media-modal-cont {
  position: relative;
  top: 40px;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 1px;
  text-align: center;
}

.ms-media-modal .ms-media-modal-cont[data-cont=video] {
  max-width: 1100px;
  max-height: 550px;
}

.ms-media-modal .ms-media-modal-cont[data-cont=tour] {
  width: 100%;
  height: 100%;
}

.ms-media-modal .ms-media-modal-cont[data-cont=gallery] {
  min-height: 90%;
  height: 100%;
}

.ms-media-modal .ms-media-modal-cont span {
  display: block;
  width: 100%;
  height: 100%;
}

.ms-media-modal .ms-modal-session-msg {
  margin: 0 auto;
  padding: 25px;
  width: 40%;
  border: solid 1px #ccc;
  background: #fff;
  opacity: 1.0;
}

.ms-media-modal .ms-modal-session-msg > .ms-modal-title {
  color: #0063be;
  font-size: 25px;
  font-family: "univers";
}

.ms-media-modal .ms-modal-session-msg > .ms-modal-desc {
  color: #444;
}

.ms-media-modal .ms-media-modal-close {
  position: absolute;
  top: 27px;
  right: 47px;
  display: block;
  width: 30px;
  height: 30px;
  border: 0;
  background: 0;
}

.ms-media-modal .ms-media-modal-close:after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  margin-top: -8px;
  margin-left: -8px;
  width: 16px;
  height: 16px;
  background: transparent url("https://www.motorolasolutions.com/etc/designs/msi/assets/images/sprites/sprite_main.png") -43px -25px no-repeat;
  content: " ";
}

.ms-media-modal iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.ms-media-modal .ms-media-modal-cont .ms-photo-gallery .photo-container {
  height: 100%;
}

.ms-media-modal .ms-photo-gallery {
  position: relative;
  margin: 0 40px;
  min-height: 100%;
  background: #fff;

  *zoom: 1;
}

.ms-media-modal .ms-photo-gallery:after,
.ms-media-modal .ms-photo-gallery:before {
  display: table;
  content: "";
  line-height: 0;
}

.ms-media-modal .ms-photo-gallery:after {
  clear: both;
}

.ms-media-modal .ms-photo-gallery .photo-container {
  position: absolute;
  top: 0;
  right: 100px;
  left: 0;
}

.ms-media-modal .ms-photo-gallery .photo-container.gallery-single {
  right: 0;
}

.ms-media-modal .ms-photo-gallery .photo-list {
  float: right;
  padding-top: 20px;
  width: 100px;
}

.ms-media-modal .ms-photo-gallery .photo-list li {
  float: none;
  margin: 10px auto;
  width: 60px;
}

.open-modal {
  cursor: pointer;
}

.video-js {
  top: 20px;
  margin: auto;
  width: 800px;
  height: 450px;
  background: #fff;
}

@media only screen and (max-width: 984px) {
  .ms-media-modal {
    padding: 25px 0 0;
  }

  .ms-media-modal .ms-modal-session-msg {
    padding: 15px;
    width: 80%;
  }

  .ms-media-modal .ms-modal-session-msg > .ms-modal-title {
    font-size: 18px;
  }

  .ms-media-modal .ms-modal-session-msg p {
    font-size: 0.8em;
  }

  .ms-media-modal .ms-media-modal-close {
    top: 0;
    right: 0;
    margin: 10px;
  }

  .ms-media-modal .ms-photo-gallery {
    margin: 0 20px;
  }

  .video-js {
    top: 20px;
    margin: auto;
    width: 80%;
    height: 60%;
    background: #fff;
  }
}

@media only screen and (max-width: 480px) {
  .ms-media-modal .ms-modal-session-msg > .ms-modal-title {
    font-size: 21px;
  }
}

.csstransitions .ms-media-modal.media-modal-open {
  top: 0;
}
