@charset "UTF-8";

@import "./src/sass/theme.scss";
@import "./src/sass/form.scss";

/**
 * ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
 * ······· Media Use Breakpoints
 * ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
*/

@include m360 {}
@include m450 {}
@include m576 {}
@include m600 {}
@include m768 {}
@include m900 {}
@include m992 {}
@include m1200 {}
@include m1400 {}
@include m1800 {}
@include m2200 {}

/**
 * ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
 * ·······  General
 * ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
*/

body,
html {
  height: 100%;
  background: #ffffff;
}

/**
 * ::::::: Anchor
*/

[id^="anchor"] {
  position: relative;
  top: -71px;
  display: block;
  visibility: hidden;
}

/**
 * ::::::: Bold Chat
 */
.bcStatic {
  display: none;
}

.bc-minimize-container {
  opacity: 0 !important;
  pointer-events: none !important;
}

/**
 * ::::::: No padding right
 */
.no-padding-right {
  @include m768 {
    padding-right: 7px;
    padding-left: 7px;
  }
}

/**
 * ::::::: LINKS CHARLIE ALIGNED
 */
.extra-padding {
  @include m768 {
    padding-bottom: 87px !important;
  }
  @include m992 {
    padding-bottom: 31px !important;
  }
  @include m1200 {
    padding-bottom: 38px !important;
  }
}

.extra-padding-2 {
  @include m768 {
    padding-bottom: 70px !important;
  }
  @include m992 {
    padding-bottom: 31px !important;
  }
  @include m1200 {
    padding-bottom: 38px !important;
  }
}
/**
 * ::::::: END LINKS CHARLIE ALIGNED
 */


/**
 * ::::::: LinkedIn
 */

.linkedin-holder {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 41px;
  font-family: Arial, Helvetica, sans-serif;

  .linkedin-holder__button {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 10px 0 0;
    width: 100%;
    height: 41px;
    border-radius: 30px;
    background: $color_white;
    text-align: center;
    opacity: 1;
    font-size: 12px;
    letter-spacing: 1px;
    color: $color_black;
    font-size: 16px;
    letter-spacing: 1px;

    @include m768 {
    padding: 6px 0 0;
    font-size: 14px;
    width: 290px;
    }
    .ms-linkedin-sm {
      position: relative;
      top: 3px;
      margin-right: 5px;
      border-radius: 7px;
      background: $color_black;
      color: $color_white;
      font-size: 19px;
      @include m768 {
        font-size: 24px;
        }
    }
  }

  .linkedin-holder__iframe {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 290px;
    height: 41px;
    background: $color_white;
    opacity: 0.001;

    iframe {
      width: 290px !important;
      height: 41px !important;
    }
  }
}

.btn {
  display: inline-block;
  padding: 10px 20px 9px;
  outline: none;
  border-radius: 0;
  background-color: $color_blue;
  color: $color_white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: $font_arial_normal;
  line-height: 1;
  cursor: pointer;
  transition: color 0.3s ease-in-out;

  &:hover {
    background-color: $color_white;
    color: $color_blue;
  }
}

.btn--pill {
  border: 1px solid $color_blue;
  border-radius: 100px;
}

/**
 * ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
 * ·······  Header Navbar
 * ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
*/

/**
 * ::::::: Hidden header
*/
.wrap-header--hiden {
  height: 68px;

  @include m450 {}
  @include m576 {}
  @include m600 {}
  @include m768 {
    height: 64px;
  }
  @include m900 {}
  @include m992 {}
  @include m1200 {}
  @include m1800 {}
  @include m2200 {}
}

/**
 * ::::::: Hamburguer
 */
 .hamburger {
  float: right;
  @media (min-width: 768px) {
    display: none;
  }
}

.hamburger-box {
  // width: 50%
  transform: rotate(180deg);
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  border-radius   : 0;
  background-color: $color_black;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::after,
.hamburger.is-active .hamburger-inner::before {
  background-color: $color_black;
}

.hamburger--collapse .hamburger-inner::after {
  width: 100%;
}

/**
 * ::::::: Header and Menu
 */

 .wrap-header {
  position        : fixed;
  z-index         : 10;
  z-index         : 50;
  padding         : 10px 0 0;
  width           : 100%;
  background-color: $color_white;

  @include m450 {}
  @include m576 {}
  @include m600 {}
  @include m768 {
    padding: 15px 0;
  }
  @include m900 {}
  @include m992 {}
  @include m1200 {}
  @include m1800 {}
  @include m2200 {}

  .img-logo {
    position: relative;
    top     : 12px;
    left    : 10px;
    float   : left;
    width   : 200px;

    @include m360 {
      position: relative;
      top     : 12px;
      left    : 20px;
      float   : left;
      width   : 230px;
    }
    @include m576 {}
    @include m600 {}
    @include m768 {
      position: relative;
      top     : 4px;
      left    : 0;
      width   : 250px;
    }
    @include m900 {}
    @include m992 {}
    @include m1200 {}
    @include m1800 {}
    @include m2200 {}

    img {
      width: 100%;
    }
  }
  .no-padding-collapse {
    padding: 0px;
    @include m768 {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
  .navbar-collapse {
    padding: 0px;
  }
  .motorola-menu {
    overflow   : hidden;
    width      : 100%;

    @include m450 {}
    @include m576 {}
    @include m600 {}
    @include m768 {
      float: right;
      width: auto;
    }
    @include m900 {}
    @include m992 {}
    @include m1200 {}
    @include m1800 {}
    @include m2200 {}

    .btn-header {
      position        : relative;
      cursor          : pointer;

      @include m450 {}
      @include m576 {}
      @include m600 {}
      @include m768 {
        display      : inline-block;
        margin-right : 0;
        margin-left  : 10px;
        padding      : 0;
        border       : 0;
        border-radius: 0;
        background: 0;
      }
      @include m900 {}
      @include m992 {}
      @include m1200 {}
      @include m1800 {}
      @include m2200 {}

      a {
        display         : block;
        padding         : 17px;
        border-bottom   : 1px solid lighten(#1b1b1b, 10%);
        background-color: $color_blue;
        color           : $color_white;
        font-size       : 13px;
        font-family     : Arial, Helvetica, sans-serif;
        letter-spacing  : 1px;
        text-align      : center;
        text-transform  : uppercase;
        text-decoration : none;
        transition      : all 0.3s ease;
        width           : 100%;

        @include m450 {}
        @include m576 {}
        @include m600 {}
        @include m768 {
          display      : inline-block;
          margin-right : 0;
          margin-left  : 0;
          padding      : 10px 20px 10px;
          border       : 1px solid $color_blue;
          border-radius: 40px;
          text-align   : center;
          line-height  : 1;
        }
        @include m900 {}
        @include m992 {
          padding      : 10px 30px 10px;
          width: 100%;
        }
        @include m1200 {}
        @include m1800 {}
        @include m2200 {}

        &:hover {
          border-bottom   : 1px solid $color_black;
          background-color: $color_black;
          color           : $color_white;
        }

      }
    }

    .btn-secondary {
      @include m992 {
        margin-right: 25px;

      }

      a {
        text-transform: initial;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        font-size: 13px;
        border-radius: 0px;
        border-top   : 1px solid transparent;
        border-left   : 1px solid transparent;
        border-right   : 1px solid transparent;
        border-bottom   : 2px solid $color_white;
        background-color: white;
        color: $color_black;
        padding: 10px 0px;
        letter-spacing: 1px;
        @include m768 {
          color: #232323;
          background-color: $color_white;
          @include m992 {
            width: 100%;
          }

          &:hover {
            border-bottom   : 2px solid $color_black;
            color           : $color_black;
            background-color: $color_white;
          }
        }
      }

    }

    .btn--chat-menu {
      margin-bottom: 0;
      background-color: $color_blue;

      @include m450 {}
      @include m576 {}
      @include m600 {}
      @include m768 {
        margin-left  : 0px;
        margin-bottom: 0;
      }
      @include m900 {}
      @include m992 {}
      @include m1200 {}
      @include m1800 {}
      @include m2200 {}

      a {
        @include m768 {
          background-color: $color_blue;
          color           : #ffffff;
        }
      }
    }
  }
}

/**
 * ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
 * ·······  CONTENT
 * ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
*/


.wrap-intro-banner {
  height: auto;
  background-image: url(./images/header-fpo-bg.jpg);
  background-position: center;
  background-size: cover;
  height: 60vh;
  // padding: 100px 0px;
  @include m768 {
    // padding: 100px 0;
  }
  @include m992 {
    background-position: center;
    height: 60vh;

  }
  @include m1200 {
    background-position: left;
    height: 60vh;

  }
  @include m1400 {
    height: 60vh;
  }
  h1 {
    position: absolute;
    color: $color_white;
    font-family: $font_univers_bold;
    font-size: 35px;
    padding: 0px 20px;
    width: 100%;
    text-align: center;
    line-height: 1;
    margin: 0 auto;
    top: 27%;
    @include m360 {

    }
    @include m576 {
      top: 31%;
    }
    @include m768 {
      top: 29%;
      font-size: 45px;
    }
    @include m992 {
      width: 100%;
      padding: 0px;
      font-size: 56px;
      top: 27%;
    }
    @include m1200 {
      top: 27%;
    }
    @include m1400 {
      top: 27%;
    }
  }


  .wrap-ty-text {
    background-color: rgba(255, 255, 255, 0.6);
    width: auto;
    width: 90%;
    display: block;
    margin: 0 auto;
    padding: 30px;
    @include m768 {
      width: 50%;
    }
    @include m992 {
      width: 40%;
    }
    h1 {
      color: $color_black;
      width: 100%;
    }
    p{
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      color: $color_black;
      font-size: 20px;
      line-height: 1.2;
      margin: 0 auto 10px;
      display: block;
    }
  }
}

.wrap-alpha {
  background-color: $color_white;
  padding: 20px 0px 60px 0px;
  font-family: Arial, Helvetica, sans-serif;

  h2 {
    color: $color_black;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0px;
    text-transform: none;
    @include m992 {
      width: 80%;
    }
  }

  p {
    color: $color_black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    @include m992 {
      width: 80%;
    }
  }
}

.wrap-beta {
  background-image: url(./images/beta-fpo-bg.png);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% -23%;
  margin: 0 0 0px 0;
  padding: 40px 0px 40px 0px;
  @include m768 {
  background-position: top;
  }
  h2 {
    color: $color_white;
    font-size: 35px;
    text-align: center;
    line-height: 1;
    padding: 0px 0px 60px;
    text-transform: capitalize;
    font-family: $font_univers_light;
    @include m992 {
      font-size: 35px;
      margin-top: 0px;
    }

  }

  i {
    font-size: 55px;
    color: $color_black;
    text-align: center;
    margin: 10px auto;
    display: block;
  }

// ITEM
  .wrap-item {
    background-color: $color_white;
    box-shadow: 5px 6px 15px -7px #000000;
    padding: 0px 0px 35px 0px;
    margin-bottom: 20px;

    h3 {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 700;
      margin-bottom: 10px;
      font-size: 16px;
      text-transform: uppercase;
      padding: 20px 20px;
      line-height: 1.5;
      @include m768 {
        padding: 20px 10px 0px 10px;
      }
      @include m992 {
        padding: 20px 0px 0px 20px;
      }
    }
    p {
      color: #767676;
      font-family: Arial, Helvetica, sans-serif;
      text-align: left;
      padding: 0px 20px 20px 20px;
      font-size: 15px;
      line-height: 1.2;
      @include m768 {
        padding: 0px 10px 20px 10px;
        font-size: 14px;
        margin: 0px;
      }
      @include m992 {
        font-size: 15px;
        padding: 0px 20px 20px 20px;
      }
    }
    img {
      width: 100%;
      margin-bottom: 10px;
    }
    .cta-beta {
      color: $color_blue;
      text-transform: uppercase;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 13px;
      letter-spacing: 1px;
      text-align: left;
      padding: 0px 20px;
      display: block;

      @include m768 {
        padding: 0px 10px 20px 10px;
      }
      @include m992 {
        padding: 0px 20px 20px 20px;
      }
      &:hover {
        color: $color_black;
        font-weight: 700;
        text-decoration: none;
        transition: all 0.3s ease;
      }
    }
  }

}

.wrap-charlie {
  background-color: $color_white;

  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin: px 0px 0px 0px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 40px 0px 40px 0px;
  @include m992 {
    background-position: top;
  }

  .btn-gate {
    background-color: $color_white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    border: solid 1px $color_blue;
    color: $color_blue;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 15px;
    border-radius: 50px;
    transition: all 0.3s ease;
    cursor: pointer;
    @include m768 {
      width: 40%;
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
    &:hover {
      background-color: $color_blue;
      border: solid 1px $color_blue;
      color: $color_white;
      transition: all 0.3s ease;
      text-decoration: none;
    }
}

  h2 {
    color: $color_gray_111;
    font-size: 35px;
    text-align: center;
    line-height: 1;
    padding: 0px 0px 60px;
    text-transform: capitalize;
    font-family: $font_univers_light;
    @include m992 {
      font-size: 35px;
      margin-top: 0px;
    }
  }

  //CASOS
  .wrap-caso {
    box-shadow: 0 2px 10px 1px rgba(100, 100, 100, 0.5);
    border: 1px solid #979797;
    background-color: #ffffffe8;
    padding: 20px;
    margin-bottom: 20px;
    @include m992 {
      margin-bottom: 30px;
    }
    a {
      text-decoration: none;
      height: 100%;
      display: block;
      @include m768{
        display: inline-block;
      }
      &:hover i {
        background-color: $color_blue;
        color: $color_white;
      }
    }
    img {
      width: 200px;
      display: block;
      margin: 0 auto;
      @include m768{
        display: inline-block;
        margin-right: 15px;
      }
      @include m992 {
        width: 155px;
        top: 20px;
        position: relative;
        vertical-align: top;
      }
      @include m1200 {
        width: 200px;
        top: 0;
      }
    }

    i{
      position    : absolute;
      top: 30%;
      left: 46%;
      font-size: 60px;
      transform: rotate(180deg);
      line-height : 40px;
      color       : $color_blue;
      width       : 40px;
      height      : 40px;
      transition  : all 0.3s ease;
      background-color: rgba(255, 255, 255, 0.85);
      border-radius: 100px;
      @include m576 {
        left: 47%;
      }
      @include m768 {
        top: 135px;
        left: 115px;
      }
      @include m992 {
        top: 135px;
        left: 95px;
      }
      @include m1200 {
        top: 130px;
        left: 115px;
      }
      &::before {
        margin: 0px;
        line-height: 0px;
        left: -9px;
        top: -4px;
        position: relative;
      }
      &:hover {
        background-color: $color_blue;
        color: $color_white;
      }
    }

    .ms-link-sm{
      font-size: 50px;
      &::before {
        margin: 0px;
        line-height: 0px;
        left: -5px;
        top: 0px;
        position: relative;
      }
    }
    .wrap-text-caso {
      display: block;
      width: 100%;
      vertical-align: bottom;
      margin-bottom: 10px;
      text-align: center;
      padding: 20px 0px 0px;
      @include m768 {
        display: inline-block;
        width: 55%;
        text-align: left;
      }
      h3 {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        color: $color_black;
        font-size: 17px;
        padding: 0px;
        line-height: 1;
      }
      h4 {
        font-family: Arial, Helvetica, sans-serif;
        color: $color_black;
        font-weight: 700;
        font-size: 17px;
        padding: 0px;
        line-height: 1;
      }
      p {
        color: $color_dark_gray;
        padding: 0px;
        font-size: 14px;
        width: 80%;
        display: block;
        margin: 0 auto;
        @include m768 {
          margin: 0 0 10px 0;
        }
      }
      
      .cta-caso {
        color: $color_blue;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        letter-spacing: 1px;
        text-align: center;
        display: block;
        padding: 20px 0px 0px;
        @include m768 {
          text-align: left;
        }
  
        &:hover {
          color: $color_black;
          font-weight: 700;
          text-decoration: none;
          transition: all 0.3s ease;
        }
      }
    }

  }
}

.wrap-form {
  background-color: #f0f0f0;
  padding: 20px 0px;

  @include m768 {
    padding: 50px 0px;
  }

  .wrap-form-title {
    margin: 0px 0px 30px;
    h2 {
      color: $color_black;
      font-family: $font_univers_light;
      font-size: 35px;
      text-align: center;
      text-transform: none;
      padding: 0px 0px 10px 0px;
      letter-spacing: 1.2px;
      line-height: 1;
    }
    h3 {
      color: $color_dark_gray;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 400;
      text-align: center;
      font-size: 16px;
      width: 90%;
      display: block;
      margin: 0 auto;
      line-height: 1.2;
      @include m768 {
       width: 50%;
      }
    }
  }
}

/**
 * ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
 * ·······  Footer
 * ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
*/

  .wrap-footer {
    position: relative;
    padding: 35px 20px;
    background-color: $color_gray_111;
    color: $color_white;

    .footer-top {
      margin: 0 0 20px;

      .footer-top__brand-icon {
        display: none;

        @include m768 {
          display: block;

          a {
            color: $color_white;
            text-decoration: none;
            font-size: 30px;
            transition: all 0.3s ease;

            &:hover {
              opacity: 0.6;
            }
          }
        }
      }

      .footer-top__brand {
        display: block;
        margin: 0 0 30px 0;
        text-align: center;

        @include m768 {
          display: none;
        }


        a {
          text-decoration: none;


          img {
            width: 240px;

            @include m450 {
              width: 280px;
            }
          }
        }
      }

      .footer-top__social {
        color: $color_dark_gray;
        text-align: center;

        @include m768 {
          text-align: right;
        }


        p {
          position: relative;
          top: -5px;
          display: block;
          color: $color_white;
          text-align: center;
          font-size: 13px;
          font-family: Arial, Helvetica, sans-serif;

          @include m768 {
            display: inline-block;
          }
        }

        a {
          position: relative;
          display: inline-block;
          color: $color_dark_gray;
          text-decoration: none;
          font-size: 27px;
          transition: all 0.3s ease;

          &:hover {
            top: -1px;
            color: $color_white;
          }
        }
      }
    }

    .footer-trademark {
      color: $color_dark_gray;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      a {
        color: $color_light_blue;
        &:hover {
          color: $color_blue;
          text-decoration: none;
        }
      }

      p {
        margin: 0 0 10px;
        padding: 0;
        font-size: 12px;
      }
    }
  }

  .wrap-footer__button-chat {
    position: fixed;
    right: 25px;
    bottom: 20%;
    display: inline-block;

    a {
      display: block;
      padding: 15px 0;
      width: 45px;
      height: 45px;
      border-radius: 50px;
      background-color: $color_blue;
      box-shadow: 0 2px 4px rgba(#000, 0.5);
      color: $color_white;
      text-align: center;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 50px;
      cursor: pointer;
      transition: all 0.3s ease;
      transition: all 0.3s ease;

      @include m768 {
        width: 50px;
        height: 50px;
        font-size: 60px;
      }


      i {
        position: absolute;
        top: -4px;
        left: -12px;

        @include m768 {
          top: -3px;
          left: -16px;
        }
      }

      &:hover {
        background-color: darken($color_blue, 10%);
        box-shadow: 0 2px 4px rgba(#000, 0.5);
      }
    }
  }

/**
 * ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
 * ·······  THANK YOU
 * ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
*/
.wrap-content-ty {
  background-image: url(./images/header-fpo-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0px;
  @include m768 {
    padding: 60px 0px;
  }
  h1 {
    color: $color_white;
    font-size: 50px;
    line-height: 1.2;
    font-family: $font_univers_bold;
    text-align: left;
    margin-bottom: 20px;

  }
  p {
    color: $color_white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.2;
    padding: 0px;
    text-align: left;
  }
  .btn-ty {
    background-color: $color_white;
    border: solid 1px $color_white;
    color: $color_black;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0px auto 0;
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 15px;
    border-radius: 50px;
    transition: all 0.3s ease;
    cursor: pointer;
    @include m768 {
      width: 80%;
      padding: 15px 30px;
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
    &:hover {
      background-color: transparent;
      border: solid 1px $color_white;
      color: $color_white;
      transition: all 0.3s ease;
      text-decoration: none;
    }
  }
}
.wrap-general__ty {
  background-color: rgba(0, 94, 184, 0.8); // Guideline color
  padding: 45px 40px 20px 40px;
  @include m768 {
    padding: 45px 20px 50px 40px;
  }
  @include m992 {
    padding: 45px 20px 50px 40px;
  }
  .paper--ty {
    position: relative;
    width   : 100%;
    @include m768 {
      width: 100%;
    }
    .paper-image--ty {
      position: relative;
      margin: 0 auto 80px;
      @include m992 {
        margin: 0 auto;
      }
      a {
        height: 100%;
        display: block;
        text-decoration: none;
        &:hover i {
          background-color: $color_blue;
          color: $color_white;
        }
      }
      i{
        position    : absolute;
        top: 38%;
        left: 43%;
        font-size: 60px;
        transform: rotate(180deg);
        line-height : 40px;
        color       : $color_blue;
        width       : 40px;
        height      : 40px;
        transition  : all 0.3s ease;
        background-color: rgba(255, 255, 255, 0.85);
        border-radius: 100px;
        @include m576 {
          top: 38%;
          left: 46%;
        }
        @include m768 {
          top: 165px;
          left: 46%;
        }
        @include m992 {
          top: 77px;
          left: 87px;
        }
        @include m1200 {
          top: 110px;
          left: 115px;
        }
        &::before {
          margin: 0px;
          line-height: 0px;
          left: -9px;
          top: -4px;
          position: relative;
        }
        &:hover {
          background-color: $color_blue;
          color: $color_white;
        }
      }

      .ms-link-sm{
        font-size: 50px;
        &::before {
          margin: 0px;
          line-height: 0px;
          left: -5px;
          top: 0px;
          position: relative;
        }
      }

      img {
        width: 80%;
        height: auto;
        margin: 40px auto 10px;
        display: block;
         @include m576 {
           width: 60%;
         }
          @include m768 {
            width: 40%;
            height: auto;
            margin: 0 auto;
            padding: 20px 0px 15px;
          }
          @include m992 {
            width: 100%;
            padding: 0px 35px 15px;
          }
      }
    }
  }

}
